*.classpath
*.project
*.factorypath
*/target
*/classes
*.settings
*/BD
/stubs/*
*.idea
*.log*
*-log*
*orb*.txt*
target
classes
.idea/vcs.xml
/.idea/vcs.xml
/.metadata/System.getProperty("stub")
/.metadata/
/.recommenders/
*.gen.bat
work
tmp
*.jar
